/*.bak
/*.lo
/*.o
/*.orig
/*.rej
/*.tab.c
/*~
/.*.sw[nop]
/.deps
/.dirstamp
/.gitignore
/.libs
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/Makefile
/Makefile.in
/TAGS
/_libs
/gtk2-decl-list.txt
/gtk2-decl.txt
/gtk2-undeclared.txt
/gtk2-undocumented.txt
/gtk2-unused.txt
/gtk2.args
/gtk2.hierarchy
/gtk2.interfaces
/gtk2.prerequisites
/gtk2.signals
/html
/html-build.stamp
/html.stamp
/pdf-build.stamp
/pdf.stamp
/scan-build.stamp
/setup-build.stamp
/sgml-build.stamp
/sgml.stamp
/so_locations
/tags
/tmpl-build.stamp
/tmpl.stamp
/tmpl/*.bak
/tmpl/gtk2-unused.sgml
/version.xml
/xml
