/*.bak
/*.lo
/*.o
/*.orig
/*.rej
/*.tab.c
/*~
/.*.sw[nop]
/.deps
/.dirstamp
/.gitignore
/.libs
/ChangeLog
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/INSTALL
/Makefile
/Makefile.in
/README
/TAGS
/_libs
/aclocal.m4
/autom4te.cache
/autoscan.log
/build/Makefile.in
/build/win32/Makefile.in
/build/win32/vs10/Makefile.in
/build/win32/vs9/Makefile.in
/compile
/config.cache
/config.guess
/config.h
/config.h.in
/config.h.win32
/config.log
/config.lt
/config.status
/config.status.lineno
/config.sub
/configure
/configure.lineno
/configure.scan
/demos/Makefile.in
/demos/gtk-demo/Makefile.in
/depcomp
/docs/Makefile.in
/docs/faq/Makefile.in
/docs/reference/Makefile.in
/docs/reference/gdk/Makefile.in
/docs/reference/gtk/Makefile.in
/docs/reference/libgail-util/Makefile.in
/docs/tools/Makefile.in
/docs/tutorial/Makefile.in
/gail-uninstalled.pc
/gail.pc
/gdk-2.0-uninstalled.pc
/gdk-2.0.pc
/gdk-x11-2.0-uninstalled.pc
/gdk-x11-2.0.pc
/gdk/Makefile.in
/gdk/directfb/Makefile.in
/gdk/quartz/Makefile.in
/gdk/tests/Makefile.in
/gdk/win32/Makefile.in
/gdk/win32/rc/Makefile.in
/gdk/x11/Makefile.in
/gtk+-2.0-uninstalled.pc
/gtk+-2.0.pc
/gtk+-unix-print-2.0.pc
/gtk+-x11-2.0-uninstalled.pc
/gtk+-x11-2.0.pc
/gtk-doc.make
/gtk-zip.sh
/gtk/Makefile.in
/gtk/tests/Makefile.in
/gtk/theme-bits/Makefile.in
/install-sh
/intltool-extract.in
/intltool-merge.in
/intltool-update.in
/libtool
/ltmain.sh
/m4macros/Makefile.in
/missing
/mkinstalldirs
/modules/Makefile.in
/modules/engines/Makefile.in
/modules/engines/ms-windows/Makefile.in
/modules/engines/ms-windows/Theme/Makefile.in
/modules/engines/ms-windows/Theme/gtk-2.0/Makefile.in
/modules/engines/pixbuf/Makefile.in
/modules/input/Makefile.in
/modules/other/Makefile.in
/modules/other/gail/Makefile.in
/modules/other/gail/libgail-util/Makefile.in
/modules/other/gail/tests/Makefile.in
/modules/printbackends/Makefile.in
/modules/printbackends/cups/Makefile.in
/modules/printbackends/file/Makefile.in
/modules/printbackends/lpr/Makefile.in
/modules/printbackends/papi/Makefile.in
/modules/printbackends/test/Makefile.in
/omf.make
/perf/Makefile.in
/po-properties/*.gmo
/po-properties/*.mo
/po-properties/.intltool-merge-cache
/po-properties/Makefile
/po-properties/Makefile.in
/po-properties/Makefile.in.in
/po-properties/POTFILES
/po-properties/stamp-it
/po/*.gmo
/po/*.mo
/po/.intltool-merge-cache
/po/Makefile
/po/Makefile.in
/po/Makefile.in.in
/po/POTFILES
/po/gtk20.pot
/po/stamp-it
/so_locations
/stamp-h1
/tags
/tests/Makefile.in
/xmldocs.make
