/*.bak
/*.lo
/*.o
/*.orig
/*.rej
/*.tab.c
/*~
/.*.sw[nop]
/.deps
/.dirstamp
/.gitignore
/.libs
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/Gdk-2.0.gir
/Gdk-2.0.typelib
/GdkX11-2.0.gir
/GdkX11-2.0.typelib
/ID
/Makefile
/Makefile.in
/TAGS
/_libs
/gdkalias.h
/gdkaliasdef.c
/gdkconfig.h
/gdkenumtypes.c
/gdkenumtypes.h
/gdkmarshalers.c
/gdkmarshalers.h
/libgdk-directfb-2.0.la
/libgdk-quartz-2.0.la
/libgdk-win32-2.0.la
/libgdk-x11-2.0.la
/so_locations
/stamp-gc-h
/stamp-gdkenumtypes.h
/tags
