/*.bak
/*.lo
/*.o
/*.orig
/*.rej
/*.tab.c
/*~
/.*.sw[nop]
/.deps
/.dirstamp
/.gitignore
/.libs
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/Makefile
/Makefile.in
/TAGS
/_libs
/autotestkeywords
/flicker
/print-editor
/simple
/so_locations
/stresstest-toolbar
/tags
/testaccel
/testactions
/testassistant
/testbbox
/testbuttons
/testcairo
/testcalendar
/testcellrenderertext
/testclientmessage
/testcombo
/testcombochange
/testdnd
/testentrycompletion
/testentryicons
/testfilechooser
/testfilechooserbutton
/testframe
/testgrouping
/testgtk
/testicontheme
/testiconview
/testiconview-keynav
/testimage
/testinput
/testmenubars
/testmenus
/testmerge
/testmountoperation
/testmultidisplay
/testmultiscreen
/testnotebookdnd
/testnouiprint
/testoffscreen
/testoffscreenwindow
/testorientable
/testprint
/testrecentchooser
/testrecentchoosermenu
/testrgb
/testrichtext
/testscale
/testselection
/testsocket
/testsocket_child
/testspinbutton
/teststatusicon
/testtext
/testtoolbar
/testtooltips
/testtreecolumns
/testtreecolumnsizing
/testtreeedit
/testtreeflow
/testtreefocus
/testtreemodel
/testtreesort
/testtreeview
/testvolumebutton
/testwindows
/testxinerama
/treestoretest
