/*.bak
/*.lo
/*.o
/*.orig
/*.rej
/*.tab.c
/*~
/.*.sw[nop]
/.deps
/.dirstamp
/.gitignore
/.libs
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/Makefile
/Makefile.in
/TAGS
/_libs
/libferret.la
/libtestaction.la
/libtestbutton.la
/libtestcombo.la
/libtestcomponent.la
/libtestimage.la
/libtestmenuitem.la
/libtestnotebook.la
/libtestobject.la
/libtestoptionmenu.la
/libtestpaned.la
/libtestprops.la
/libtestselection.la
/libteststatusbar.la
/libtesttable.la
/libtesttext.la
/libtesttoplevel.la
/libtesttreetable.la
/libtestvalues.la
/so_locations
/tags
