/*.bak
/*.lo
/*.o
/*.orig
/*.rej
/*.tab.c
/*~
/.*.sw[nop]
/.deps
/.dirstamp
/.gitignore
/.libs
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/Gtk-2.0.gir
/Gtk-2.0.typelib
/ID
/Makefile
/Makefile.in
/TAGS
/_libs
/gtk-query-immodules-2.0
/gtk-update-icon-cache
/gtk-win32.rc
/gtkalias.h
/gtkaliasdef.c
/gtkbuiltincache.h
/gtkmarshal.c
/gtkmarshal.h
/gtkmarshalers.c
/gtkmarshalers.h
/gtktypebuiltins.c
/gtktypebuiltins.h
/gtktypefuncs.c
/gtkversion.h
/libgtk-directfb-2.0.la
/libgtk-quartz-2.0.la
/libgtk-win32-2.0.la
/libgtk-x11-2.0.la
/makefile.msc
/so_locations
/stamp-gtkmarshal.h
/stamp-gtkmarshalers.h
/stamp-gtktypebuiltins.h
/stamp-icons
/stock-icons/16/document-save.png
/stock-icons/16/folder-remote.png
/stock-icons/16/go-first-rtl.png
/stock-icons/16/go-last-rtl.png
/stock-icons/16/go-next-rtl.png
/stock-icons/16/go-previous-rtl.png
/stock-icons/16/media-seek-backward-rtl.png
/stock-icons/16/media-seek-forward-rtl.png
/stock-icons/16/media-skip-backward-rtl.png
/stock-icons/16/media-skip-forward-rtl.png
/stock-icons/16/user-desktop.png
/stock-icons/16/user-home.png
/stock-icons/24/document-save.png
/stock-icons/24/folder-remote.png
/stock-icons/24/go-first-rtl.png
/stock-icons/24/go-last-rtl.png
/stock-icons/24/go-next-rtl.png
/stock-icons/24/go-previous-rtl.png
/stock-icons/24/media-seek-backward-rtl.png
/stock-icons/24/media-seek-forward-rtl.png
/stock-icons/24/media-skip-backward-rtl.png
/stock-icons/24/media-skip-forward-rtl.png
/stock-icons/24/user-desktop.png
/stock-icons/24/user-home.png
/stock-icons/icon-theme.cache
/tags
/xgen-gdef
/xgen-gmc
/xgen-gmh
/xgen-gmlc
/xgen-gmlh
/xgen-gtbh
/xgen-gtf
/xgen-gtfsrc.c
/xgen-gtic
