/*.bak
/*.lo
/*.o
/*.orig
/*.rej
/*.tab.c
/*~
/.*.sw[nop]
/.deps
/.dirstamp
/.gitignore
/.libs
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/Makefile
/Makefile.in
/TAGS
/_libs
/marshalers.c
/marshalers.h
/so_locations
/stamp-marshalers.h
/stamp-typebuiltins.h
/tags
/testperf
/typebuiltins.c
/typebuiltins.h
