/*.bak
/*.lo
/*.o
/*.orig
/*.rej
/*.tab.c
/*~
/.*.sw[nop]
/.deps
/.dirstamp
/.gitignore
/.libs
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/Makefile
/Makefile.in
/TAGS
/_libs
/action
/builder
/defaultvalue
/expander
/filechooser
/filtermodel
/floating
/liststore
/object
/recentmanager
/so_locations
/tags
/testing
/textbuffer
/treestore
/treeview
/treeview-scrolling
