/*.bak
/*.lo
/*.o
/*.orig
/*.rej
/*.tab.c
/*~
/.*.sw[nop]
/.deps
/.dirstamp
/.gitignore
/.libs
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/Makefile
/Makefile.in
/TAGS
/_libs
/gdk2-decl-list.txt
/gdk2-decl.txt
/gdk2-undeclared.txt
/gdk2-undocumented.txt
/gdk2-unused.txt
/gdk2.args
/gdk2.hierarchy
/gdk2.interfaces
/gdk2.prerequisites
/gdk2.signals
/html
/html-build.stamp
/html.stamp
/pdf-build.stamp
/pdf.stamp
/scan-build.stamp
/setup-build.stamp
/sgml-build.stamp
/sgml.stamp
/so_locations
/tags
/tmpl-build.stamp
/tmpl.stamp
/tmpl/*.bak
/tmpl/gdk2-unused.sgml
/version.xml
/xml
