/*.bak
/*.lo
/*.o
/*.orig
/*.rej
/*.tab.c
/*~
/.*.sw[nop]
/.deps
/.dirstamp
/.gitignore
/.libs
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/Makefile
/Makefile.in
/TAGS
/_libs
/pixbuf-demo
/so_locations
/tags
/test-inline-pixbufs.h
/testanimation
/testpixbuf
/testpixbuf-color
/testpixbuf-drawable
/testpixbuf-save
/testpixbuf-scale
