/*.bak
/*.lo
/*.o
/*.orig
/*.rej
/*.tab.c
/*~
/.*.sw[nop]
/.deps
/.dirstamp
/.gitignore
/.libs
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/Makefile
/Makefile.in
/TAGS
/_libs
/gail-libgail-util-decl-list.txt
/gail-libgail-util-decl.txt
/gail-libgail-util-undeclared.txt
/gail-libgail-util-undocumented.txt
/gail-libgail-util-unused.txt
/gail-libgail-util.args
/gail-libgail-util.hierarchy
/gail-libgail-util.interfaces
/gail-libgail-util.prerequisites
/gail-libgail-util.signals
/html
/html-build.stamp
/html.stamp
/pdf-build.stamp
/pdf.stamp
/scan-build.stamp
/setup-build.stamp
/sgml-build.stamp
/sgml.stamp
/so_locations
/tags
/tmpl-build.stamp
/tmpl.stamp
/tmpl/*.bak
/tmpl/gail-libgail-util-unused.sgml
/xml
